### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

### Swift ###
# Xcode

## User settings
xcuserdata/

## App packaging
*.ipa
*.dSYM.zip
*.dSYM

.build/

input/
output/faces/
output/poses/
output/saved_models/
output/segmentation/
outut/vgg_model_tf_saved/
.ipynb_checkpoints/

*.pyc
variables/
*.pb
*.h5
## state-farm images
state-farm-distracted-driver-detection/
