### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

### Swift ###
# Xcode

## User settings
xcuserdata/

## App packaging
*.ipa
*.dSYM.zip
*.dSYM

.build/

input/
output/
.ipynb_checkpoints/

## state-farm images
state-farm-distracted-driver-detection/
